.header {
    padding: 17px 0;
    grid-area: header;
}

.header__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    margin: 0;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.header__menu {
    display: flex;
    flex-grow: 1;
    width: 1.5rem;
    height: 1.5rem;
}

.header__menu:hover {
    color: var(--secondary);
}

.header__logo {
    flex-grow: 1;
}

.header__nav {
    display: none;
    font-size: 1rem;
    line-height: 1.5rem;
}

.header__nav-link {
    text-decoration: none;
    color: var(--grey-3);
    margin: 0 15px;
}

.header__nav-link:hover {
    color: var(--secondary);
}

.header__nav-link_selected {
    color: var(--black);
}

@media screen and (min-width: 768px) {
    .header {
        padding-bottom: 62px;
    }
    .header__container {
        justify-content: space-between;
    }
    .header__nav {
        display: block;
    }
    .header__menu {
        display: none;
    }
    .header__title {
        font-size: 3.125rem;
        line-height: 4rem;
    }
}
