.header {
    padding-top: 17px;
    padding-bottom: 2.5rem;
    grid-area: header;
    background: var(--bg-accent);
}

.header_template {
    background: var(--bg);
}

.header__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2.375rem;
    margin: 0;
    padding-top: 2.5rem;
    color: var(--font-color);
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.header__menu {
    display: flex;
    flex-grow: 1;
    width: 1.5rem;
    height: 1.5rem;
}

.header__menu:hover {
    color: var(--secondary);
}

.header__logo {
    flex-grow: 1;
    color: var(--font-color-accent);
}

.header__logo_template {
    color: var(--black);
}

.header__logo-icon {
    height: 32px;
    width: 110px;
}

.header__nav {
    display: none;
    font-size: 1rem;
    line-height: 1.5rem;
}

.header__nav-link {
    text-decoration: none;
    color: var(--grey-3);
    margin: 0 15px;
}

.header__nav-link:hover {
    color: var(--secondary);
}

.header__nav-link_selected {
    color: var(--font-color-accent);
}

.header__theme {
    padding-left: 3.5rem;
}

@media screen and (min-width: 768px) {
    .header__container {
        justify-content: space-between;
    }
    .header__nav {
        display: flex;
    }
    .header__menu {
        display: none;
    }
    .header__title {
        font-size: 3.125rem;
        line-height: 4rem;
    }
}
