html {
    background: #F9FAFC;
}
body {
    position: relative;
    width: 100%;
    height: 451px;
    background: var(--white)
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
}

.card__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: var(--black);
}

.card__content {
    width: 70%;
    min-width: 300px;
    display: grid;
    grid-template-columns: 16% repeat(3, 28%);
    grid-template-rows: repeat(2, 75px);
    grid-gap: 16px 33px;
}
