html {
    height: 100%;
}

.page {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main-section" "footer";
    background: var(--grey-5);
    padding: 0 56px;
}

.page__main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "menu component";
    grid-column-gap: 56px;
    max-width: 1110px;
    width: 100%;
    justify-self: center;
    grid-area: main-section;
}

.header {
    height: 118px;
    padding-bottom: 62px;
    box-sizing: border-box;
    grid-area: header;
}

.footer {
    height: 130px;
    box-sizing: border-box;
    grid-area: footer;
}

.footer__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.menu {
    width: 229px;
    grid-area: menu;
}

.component {
    background: var(--white);
    min-width: 300px;
    grid-area: component;
}
