.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem 1.56rem;
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}

.card__content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.card__title, .card__subtitle {
    font-family: Roboto, sans-serif;
    font-style: normal;
    text-align: center;
}

.card__title {
    color: var(--black);
    margin: 1.56rem 0 0.375rem 0;
    font-weight: 500;
    font-size: 1.313rem;
    line-height: 1.563rem;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__subtitle {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.188rem;
    color: var(--grey-4);
}
