html {
    background: #F9FAFC;
}
body {
    position: relative;
    max-width: 1440px;
    width: 100%;
    height: fit-content;
    background: var(--white, white)
}

.accordion-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
    min-width: 250px;
}

.accordion-card__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    color: var(--black, #212429);
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
}

.accordion-card__content {
    min-width: 150px;
    width: 70%;
}

.accordion__arrow {
    width: 18px;
    height: 18px;
}

.accordion__arrow:hover {
    color: var(--primary);
}
