.preview-flex {
    padding-top: 1.25rem;
    padding-bottom: 4rem;
    background: var(--bg);
}

.preview-flex__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.9rem;
}

.preview-flex__card {
    flex: 1 1 calc((100% / 3) - 2rem);
    width: calc((100% / 3) - 1rem);
    min-width: 250px;
    min-height: 350px;
    margin: 1rem;
}

@media screen and (min-width: 1280px) {
    .preview-flex {
        padding-top: 4.25rem;
    }
}
