.preview-flex {
    padding-top: 1.25rem;
    padding-bottom: 4rem;
}

.preview-flex__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -0.9rem;
}

.preview-flex__card {
    flex: 1 1 calc((100% / 3) - 2rem);
    background: var(--white);
    box-shadow: 0 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    margin: 1rem;
    cursor: pointer;
}

.preview-flex__link {
    text-decoration: none;
}

@media screen and (min-width: 1280px) {
    .preview-flex {
        padding-top: 4.25rem;
    }
}
