.preview-flex {
    padding-top: 1.25rem;
    padding-bottom: 4rem;
}

.preview-flex__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -0.9rem;
}

.preview-flex__card {
    flex: 1 1 calc((100% / 3) - 2rem);
    margin: 1rem;
    cursor: pointer;
    width: calc(33% - 1rem);
    min-width: 300px;
}

.preview-flex__link {
    text-decoration: none;
}

@media screen and (min-width: 1280px) {
    .preview-flex {
        padding-top: 4.25rem;
    }
}
