.toggle {
    width: fit-content;
}

.toggle__input {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    outline: none;
    position: absolute;
}

.toggle__state {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.toggle__control {
    width: 3.25rem;
    height: 1.75rem;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 1rem;
    position: relative;
}

.toggle__title {
    color: var(--grey-4);
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-left: 0.7rem;
}

.toggle__title:after {
    content: 'Off';
}

.toggle__inner {
    position: absolute;
    top: 50%;
    transform: translate(0.1rem, -50%);
    width: 1.5rem;
    height: 1.5rem;
    background: var(--grey-2);
    border-radius: 50%;
}

.toggle__input:checked ~ .toggle__state .toggle__control {
    border-color: var(--primary);
    background: var(--primary);
}

.toggle__input:checked ~ .toggle__state .toggle__title:after {
    content: 'On';
}

.toggle__input:checked ~ .toggle__state .toggle__inner {
    right: calc(0.1rem + 1px);
    background: var(--white);
}

.toggle__input:disabled ~ .toggle__state {
    pointer-events: none;
}

.toggle__input:disabled ~ .toggle__state .toggle__control {
    background: var(--grey-2);
}

.toggle__input:disabled ~ .toggle__state .toggle__title:after {
    content: 'Disabled';
}

.toggle__input:disabled ~ .toggle__state .toggle__control .toggle__inner {
    background: var(--grey-3);
    opacity: 0.5;
}

.toggle__input:focus ~ .toggle__state .toggle__control,
.toggle__input:not([disabled]):hover ~ .toggle__state .toggle__control {
    box-shadow: 0 0 0 0.4rem var(--primary-lighten);
}

.toggle__input:focus ~ .toggle__state .toggle__title:after {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .toggle__title {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}



