.modal {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(196, 196, 196, 0.5);
    z-index: 999;
}

.modal__popup {
    width: 80%;
    max-width: 500px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background: var(--white);
    display: grid;
    gap: 2.5rem;
    padding: 0 0 2.5rem 2.5rem;
}

.modal__header-row {
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
}

.modal__close-button {
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--black);
}

.modal__close-button:focus {
    outline: none;
}
.modal__close-button:hover .modal__close-icon, .modal__close-button:focus .modal__close-icon {
    border: 2px solid var(--primary);
    border-radius: 50%;
    color: var(--primary);
}

.modal__close-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.modal__title, .modal__text {
    font-family: Inter, sans-serif;
    font-style: normal;
    line-height: 24px;
}

.modal__title {
    align-self: flex-end;
    font-weight: 600;
    font-size: 20px;
    color: var(--black);
    margin: 0;
}

.modal__text {
    font-weight: 400;
    font-size: 1rem;
    color: var(--grey-4);
    margin: 0;
}

.modal__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal__content_preview {
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.modal__content, .modal__button-block {
    padding-right: 2.5rem;
}

.modal__button-block {
    display: flex;
    gap: 10px;
    width: 50%;
}




.modal_preview {
    display: block;
    position: absolute;
}

.modal_preview > * {
    pointer-events: none;
}

.modal__popup_preview {
    gap: 1rem;
    padding-bottom: 0.5rem;
    width: 80% !important;
    height: fit-content;
}

.modal__header-row_preview {
    height: 1.5rem;
}

.modal__title_preview {
    font-size: 1rem;
}

.modal__close-button_preview {
    width: 1.5rem;
    height: 1.5rem;
}


@media screen and (min-width: 768px) {
    .modal__popup {
        width: 50%;
    }
}
