body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #AB47BC;
    color: white;
    text-align: center;
}

nav {
    background-color: #7B1FA2;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    padding: 0 30px;
    text-decoration: underline;
}

main {
    height: 100%;
    background-color: #E1BEE7;
}

article {
    background-color: #F3E5F5;
    color: #4A148C;
    border: 2px solid #4A148C;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

footer {
    background-color: #AB47BC;
    color: white;
    text-align: center;
}
