.page {
    display: flex;
    flex-direction: column;
    background: var(--white);
    color: var(--black);
    min-width: 250px;
}

.page__box {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.page__main {
    background: var(--bg);
}
