.page {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main-section" "footer";
    background: var(--grey-5);
    padding: 0 56px;
}

.page__main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "menu component";
    grid-column-gap: 56px;
    max-width: 1110px;
    width: 100%;
    justify-self: center;
    grid-area: main-section;
}
