.page {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "main-section" "footer";
    background: var(--grey-5);
}

.page__main {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .page__main {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "menu component";
        grid-column-gap: 3.5rem;
        grid-area: main-section;
    }
}
