/*@import '../../node_modules/normalize.css/normalize.css';*/
@import '../resets/normalize.css';
@import '../fonts/fonts.css';
@import '../../components/header/header.css';
@import '../../components/page/page.css';
@import '../../components/card/card.css';
@import '../../components/divider/divider.css';
@import '../../components/menu/menu.css';
@import '../../components/preview-flex/preview-flex.css';
@import '../../components/tabs/tabs.css';
@import '../../components/theme/theme.css';
@import '../../03-lection1/01-button/button.css';
@import '../../04-lection2/01-histogram/histogram.css';
@import '../../04-lection2/02-skeleton/skeleton.css';
@import '../../05-lection3/02-modal/modal.css';
@import '../../05-lection3/03-calendar/calendar.css';
@import '../../05-lection3/01-tooltip/tooltip.css';
@import '../../06-lection4/01-avatar/avatar.css';
@import '../../07-lection5/01-checkbox/checkbox.css';
@import '../../07-lection5/01-checkbox/checkbox-group.css';
@import '../../07-lection5/02-radio/radio.css';
@import '../../07-lection5/03-toggler/toggler.css';
@import '../../07-lection5/04-input/input.css';
@import '../../07-lection5/04-input/form-group.css';
@import '../../components/footer/footer.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #F9FAFC;
    --grey-6: #334D6E;
    --grey-7: #90A0B7;

    --font-color: var(--black);
    --font-color-accent: var(--black);

    --error: var(--red);
    --success: var(--blue);
    --disabled: var(--grey-2);

    --bg: var(--grey-5);
    --bg-accent: var(--white);
    --bg-transparent: hsla(0, 0%, 77%, 0.5);

    --notification: #D84910;

    --primary-h: 228;
    --primary-s: 81%;
    --primary-l: 59%;
    --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --primary-darken: hsl(var(--primary-h), calc(var(--primary-s) - 12%), calc(var(--primary-l) - 14%));
    --primary-lighten: hsla(var(--primary-h), var(--primary-s), calc(var(--primary-l) + 20%), 0.2);

    --secondary-h: 255;
    --secondary-s: 78%;
    --secondary-l: 60%;
    --secondary: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
    --secondary-darken: hsl(var(--secondary-h), calc(var(--secondary-s) - 12%), calc(var(--secondary-l) - 13%));

    --pink-h: 339;
    --pink-s: 88%;
    --pink-l: 74%;
    --pink-lighten: hsla(var(--pink-h), var(--pink-s), var(--pink-l), 0.2);
}

[data-theme="dark"] {
    --white: #F8F9FA;
    --font-color: #ffffff75;
    --font-color-accent: var(--white);

    --bg: #495057;
    --bg-accent: #212429;
    --bg-transparent: hsla(210, 9%, 31%, 0.5);
    --disabled: #7F8387;

    --grey-1: var(--bg);
    --grey-4: var(--font-color);
    --grey-5: var(--disabled);
    --grey-6: var(--font-color);
    --grey-7: var(--font-color);

}

* {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 18px;
    }
}

body {
    font-size: 1rem;
}
