@import '../../node_modules/normalize.css/normalize.css';
@import '../fonts/fonts.css';
@import '../../components/header/header.css';
@import '../../components/main/main.css';
@import '../../components/footer/footer.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #4263EB;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary-h: 228;
    --primary-s: 81%;
    --primary-l: 59%;
    --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --primary-darken: hsl(var(--primary-h), calc(var(--primary-s) - 12%), calc(var(--primary-l) - 14%));

    --secondary-h: 255;
    --secondary-s: 78%;
    --secondary-l: 60%;
    --secondary: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
    --secondary-darken: hsl(var(--secondary-h), calc(var(--secondary-s) - 12%), calc(var(--secondary-l) - 13%));
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--white);
    color: var(--black);
}

.container {
    max-width: 1440px;
}
