.radio-button__input {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    outline: none;
    position: absolute;
}

.radio-button__state {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.radio-button__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--grey-4);
    margin-left: 0.75rem;
}

.radio-button__control {
    width: 1.75rem;
    height: 1.75rem;
    background: var(--bg-accent);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 50%;
    position: relative;
}

.radio-button__inner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    background: var(--primary);
    border-radius: 50%;
}

.radio-button__input:checked ~ .radio-button__state .radio-button__control {
    border: 2px solid var(--primary);
    animation: pulse 0.3s;
}

.radio-button__input:checked ~ .radio-button__state .radio-button__inner {
    display: block;
}

.radio-button__input:focus ~ .radio-button__state .radio-button__title {
    text-decoration: underline;
}


.radio-button__input:disabled ~ .radio-button__state {
    pointer-events: none;
}

.radio-button__input:disabled ~ .radio-button__state .radio-button__control {
    background: var(--disabled);
    border: var(--disabled);
}

.radio-button__input:disabled ~ .radio-button__state .radio-button__title {
    color: var(--disabled);
}

@media screen and (min-width: 768px) {
    .radio-button__title {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

