.footer {
    text-align: center;
    padding: 1.5rem;
}

.footer__title, .footer__info {
    font-family: Inter, sans-serif;
    font-style: normal;
}

.footer__title {
    font-weight: 500;
    font-size: 2.375rem;
    line-height: 3rem;
}

.footer__info {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    width: 80%;
    margin: auto;
}

@media screen and (min-width: 768px) {
    .footer {
        padding: 3.5rem 0;
    }
    .footer__info {
        width: 45%;
    }
}
