.checkbox {
    width: fit-content;
}

.checkbox__input {
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    outline: none;
    position: absolute;
}

.checkbox__state {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox__title {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--grey-4);
    margin-left: 0.75rem;
}

.checkbox__icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    color: var(--white);
}

.checkbox__control {
    width: 1.75rem;
    height: 1.75rem;
    background: var(--bg-accent);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 4px;
    position: relative;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: var(--primary);
    border-color: var(--primary);
    animation: pulse 0.3s;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--primary-lighten);
    }
    70% {
        box-shadow: 0 0 0 0.5rem var(--primary-lighten);
    }
    100% {
        box-shadow: 0 0 0 1rem var(--primary-lighten);
    }
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
    display: block;
}

.checkbox__input:focus ~ .checkbox__state .checkbox__title {
    text-decoration: underline;
}

/*.checkbox__input:focus ~ .checkbox__state .checkbox__control*/
/*.checkbox__input:not([disabled]):hover ~ .checkbox__state .checkbox__control {*/
/*    box-shadow: 0 0 0 0.4rem var(--primary-lighten);*/
/*}*/

.checkbox__input:disabled ~ .checkbox__state {
    pointer-events: none;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background: var(--disabled);
    border: var(--disabled);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title {
    color: var(--disabled);
}

.checkbox__input_menu:checked ~ .checkbox {
    display: none;
}

.checkbox__input_menu ~.checkbox + .checkbox {
    display: none;
}

.checkbox__input_menu:checked ~.checkbox + .checkbox {
    display: block;
}

.checkbox__input_menu:checked ~ .menu_burger {
    transform: translateX(0);
}

@media screen and (min-width: 768px) {
    .checkbox__title {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

