.theme {
    display: flex;
    gap: 1rem;
}

.theme_burger {
    justify-content: space-between;
    height: 4rem;
    align-items: center;
}

.theme__icon {
    color: var(--grey-3);
    width: 1.5rem;
    height: 1.5rem;
}
