.menu {
    display: none;
    width: 229px;
    grid-area: menu;
}

.menu_burger {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: calc(100% - 6rem);
    background: var(--bg);
    transform: translateX(-100vw);
    transition: transform 0.2s ease-in-out;
    padding: 1.5rem;
    box-sizing: border-box;
    z-index: 2;
}

.menu_burger-main {
    background: var(--bg-accent);
}

.menu__section {
    display: flex;
    flex-direction: column;
}

.menu__section-title, .menu__item {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--font-color);
}

.menu__section-title {
    font-size: 1.25rem;
    line-height: 1.625rem;
}

.menu__item {
    font-size: 0.875rem;
    line-height: 1.375rem;
    margin-bottom: 4px;
    text-decoration: none;
}

.menu__item_selected {
    color: var(--notification);
}

.menu__item:hover {
    color: var(--primary);
}

@media screen and (min-width: 768px) {
    .menu {
        display: block;
    }
    .menu_burger {
        display: none;
    }
}
