.form-group {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.form-group__label, .form-group__input {
    font-family: Inter, sans-serif;
    font-style: normal;
}

.form-group__label {
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.form-group__input-container {
    position: relative;
}

.form-group__input {
    width: 100%;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    height: 3.5rem;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: var(--black);
    padding: 0 3.5rem 0 1.5rem;
    text-overflow: ellipsis;
    box-sizing: border-box;
    appearance: none;
}

.form-group__input_dropdown {
    cursor: pointer;
}

.form-group__input::placeholder {
    color: var(--grey-2);
}

.form-group__input:not([disabled]):hover, .form-group__input:focus {
    border-color: var(--primary);
}

.form-group__input:focus {
    outline: none;
    background: var(--grey-1);
}

.form-group__input:disabled {
    background: var(--grey-5);
    opacity: 0.5;
    cursor: not-allowed;
}

.form-group__input_invalid {
    border-color: var(--error) !important;
}

.form-group__icon {
    color: var(--primary);
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translate(0, -50%);
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
}

.form-group__icon_arrow {
    height: 0.75rem;
}

.form-group__icon_error {
    color: var(--error);
}
